body{
  text-align: center;
  background-color: aqua;
  margin-left: 5%;
  margin-right: 5%;
}
hr{border-color:rgb(112, 77, 11);}
.title{
  text-align: center;
}

.basic-heading{
  font-size: 30px;
  text-align: center;
}

.basic-text{
  font-size: 24px;
  text-align: center;
}

.link-button{
  font-size: 20px;
  background-color: rgb(255, 230, 0);
  color: rgb(112, 77, 11);
  border-radius: 12px;
  padding: 8px 15px;
  text-decoration: none;
  display: inline-block;
}

.grid-button{
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.link-button:hover, .link-button:active {
  background-color: rgb(251, 255, 0);
}

.text-color{
  color: rgb(94, 64, 9);
}

.image {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  body{
    background-color: aqua;
  }
  hr{border-color:rgb(112, 77, 11);}
  .link-button{
    background-color: rgb(255, 230, 0);
    color: rgb(112, 77, 11);
  }
  .text-color{
    color: rgb(94, 64, 9);
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: rgb(17, 11, 99);
  }
  hr{border-color:white}
  .link-button{
    background-color: rgb(255, 230, 0);
    color: rgb(18, 11, 118);
  }
  .link-button:hover, .link-button:active {
    background-color: rgb(255, 251, 0);
  }
  .text-color{
    color: white;
  }
}
